Project Name: FindMyID
Short Desc: Online platform that matches customers with interior designers


Project Deliverable: Agile using Taiga software

Tech Stack:???

Requirements:
1. Complete list of user stories, each with a complete list of tasks
2. UML use case diagrams + use case descriptions
3. Class diagrams + data persistence design
4. Sequence diagrams
5. User-interface design
6. Software Development (data driven)
7. Test plans, test cases (incl. unit tests) + test data
8. Evidence of CI/CD


The Software System to Build
An online platform matching renovation customers to interior designers 
(reference: www.sixides.com). Must support:

- Multiple account/profile types: User Admin, Interior Designer (ID), Customer, Platform Management
- ID can manage their company information
- ID can manage a portfolio of current/past Interior Design Projects (IDPs)
- Customers can search, view, and save IDPs to a favourites list
- ID can track interest metrics on their IDPs (views, times shortlisted)
- Platform management can manage IDP categories and generate reports (daily/weekly/monthly)